<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlobBuddy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <BlobBuddy.My.MySettings>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isGoogleSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="BuildString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="is64bit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TrackBarValue" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="isRandomSpeech" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvPath" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="isFirstAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFirstMSH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForcedAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForcedMSH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForcedNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFirstNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForegroundTMAFELabel" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackgroundTMAFELabel" serializeAs="String">
                <value>224, 202, 227</value>
            </setting>
            <setting name="TMAFELabelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CornerLabelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ACSFile" serializeAs="String">
                <value>blob.acs</value>
            </setting>
            <setting name="SizeTrackbarValue" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FontSizeTrackbarValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="forecolor" serializeAs="String">
                <value>255, 221, 255</value>
            </setting>
            <setting name="backcolor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="bordercolor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="MegabytesEaten" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilesEaten" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlobNote1" serializeAs="String">
                <value>Welcome to sticky note feature! Its just a sticky note. Yep, just a sticky note. Nothing else. Happy? Good. Now write in it. The Blob will remember and may even randomly remind you of you what have in it.</value>
            </setting>
            <setting name="CustomFontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 10pt</value>
            </setting>
            <setting name="DefaultFontStyle1" serializeAs="String">
                <value>Microsoft Sans Serif, 10pt</value>
            </setting>
            <setting name="DefaultFontStyle2" serializeAs="String">
                <value>Microsoft Sans Serif, 13pt</value>
            </setting>
            <setting name="DefaultFontStyle3" serializeAs="String">
                <value>Microsoft Sans Serif, 16pt</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>MS Sans Serif</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HighScoreFind" serializeAs="String">
                <value>0</value>
            </setting>
        </BlobBuddy.My.MySettings>
    </userSettings>
</configuration>
